<script type='text/javascript'></script>

<% content_for :title do %>HADashboard<% end %>

    <div class="gridster" id="main">
      <ul>
        <!-- Row 1 -->

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="morning" data-view="Stswitchmorning" data-icon="sun-o" data-title="Good Morning" data-device="morning"></div>
	</li>
	
	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
	  <div data-id="goodnight" data-view="Stswitchnight" data-icon="moon-o" data-title="Good Night" data-device="night"></div>
	</li>

        <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
          <div data-id="clock" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"/>
        </li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
          <div data-id="lampfr" data-view="Stswitch" data-icon="far fa-lightbulb" data-title="Family Room" data-device="Lamp FR"/>
        </li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
          <div data-id="hanginglamp" data-view="Stdimmerslider" data-icon="far fa-lightbulb" data-title="Living Room" data-device="Hanging Lamp"/>
        </li>    

        <!-- Row 2 -->

	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="link-camera" data-view="text" data-icon="arrow-right" data-title="CCTV Cameras"  onclick="location.href='http://192.168.1.9:81/'" style="background-color:#364B59"></div>
	</li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="garagedoor" data-view="Stgarage" data-icon="warehouse" data-title="Garage Door" data-device="Garage Door"/>
        </li>

        <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
          <div data-id="weather" data-view="Stweather"/>
        </li>

        <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
          <div data-id="brucebr" data-view="Stdimmerslider" data-icon="far fa-lightbulb" data-title="Bruce BR" data-device="Lights Bruce BR"/>
        </li>

        <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
          <div data-id="housefront" data-view="Stswitch" data-icon="far fa-lightbulb" data-title="House Front" data-device="Lights Front House"/>
        </li>    

        <!-- Row 3 -->
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="apresence" data-view="Stpresence" data-icon="male" data-title="Bruce" data-device="Bruce's iPhone"/>
        </li>

        <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="bpresence" data-view="Stpresence" data-icon="male" data-title="Dad" data-device="Dad Smart Fob"/>
        </li>

        <li data-row="3" data-col="5" data-sizex="2" data-sizey="1">
		<div data-id="thermostattemp" data-view="Stthermostat" data-title="Thermostat" data-device="Thermostat" data-event-click="onClick"></div>
	</li>	
 
        <!-- Navigation -->
        <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="cpage1-4" data-view="ChangePage" data-icon="fa fa-map-marked-alt" data-title="Traffic" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="traffic"/>
        </li>
        <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="cpage1-3" data-view="ChangePage" data-icon="fab fa-dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"/>
        </li>		
        <!-- Reload -->
        <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="reload" data-view="Reload"/>
        </li>      	  	  		 	
      </ul>
    </div>

    <div class="gridster" id="outside">
      <ul>
        <!-- Devices -->
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="garagelights" data-view="Stswitch" data-icon="far fa-lightbulb" data-title="Garage" data-device="Garage Lights"/>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="porchlights" data-view="Stswitch" data-icon="far fa-lightbulb" data-title="Porch" data-device="Porch Lights"/>
        </li>
        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
          <div data-id="patiolight" data-view="Stswitch" data-icon="far fa-lightbulb" data-title="Patio" data-device="Patio Light"/>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="porchoutlet" data-view="Stswitch" data-icon="fa fa-tree" data-title="Porch Outlet" data-device="Porch Outlet"/>
        </li>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
          <div data-id="patiooutlet" data-view="Stswitch" data-icon="fa fa-tree" data-title="Patio Outlet" data-device="Patio Outlet"/>
        </li>
	<li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
	  <div data-id="camera3" data-view="Cameras" data-title="" style="background-color:transparent; height: 300px !important"></div>
	</li>

	<li data-row="3" data-col="5" data-sizex="2" data-sizey="2">
	  <div data-id="camera1" data-view="Cameras" data-title="" style="background-color:transparent; height: 300px !important"></div>
	</li>

	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
	  <div data-id="link-default-dashboard" data-view="Text" data-icon="arrow-right" data-title="CCTV Cameras"  onclick="location.href='http://192.168.1.9:81'" style="background-color:#364B59"></div>
	</li>

        <!-- Navigation -->
        <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="cpage3-1" data-view="ChangePage" data-icon="fa fa-home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"/>
        </li>
        <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="cpage3-3" data-view="ChangePage" data-icon="fab fa-dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"/>
        </li>  	
        <!-- Reload -->
        <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="reload" data-view="Reload"/>
        </li>    
      </ul>
    </div>

    <div class="gridster" id="traffic">
      <ul>
        <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
          <div data-id="trafficmap" data-view="Trafficmap" data-title="Traffic" data-lat="41.8065365" data-long="-88.0652417" data-zoom="13" />
        </li>
      
        <!-- Navigation -->
        <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="cpage3-1" data-view="ChangePage" data-icon="fa fa-home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"/>
        </li>
        <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="cpage3-3" data-view="ChangePage" data-icon="fab fa-dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"/>
        </li>  	
        <!-- Reload -->
        <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
          <div data-id="reload" data-view="Reload"/>
        </li>
      </ul>
    </div>
